@import "~react-component-countdown-timer/lib/styles.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bottom-nav {
  background-color: tomato;
}


.bottom-nav-icons > svg  {
  stroke-width: 1;
  color: white;
}

.bottom-nav-icons > svg:hover  {
  fill: white; 
  stroke: tomato; 
  
}

.bottom-nav-icons > svg:active  {
  fill: white; 
  stroke:tomato;
}

.log {
  background-color: snow;
}

.signup-nav {
  background-color: snow;
  border-top: 1px solid lightgray;
}

.sign-up-btn {
  color: black;
  font-weight: bold;
}


.log-btn {
  padding: 2px 101px 2px 101px;
}

.input-field {
  margin-left: 40px;
  margin-right: 40px;
}

.signup-page {
  margin-right: 10px;
  margin-left: 10px;
}