@import "~react-component-countdown-timer/lib/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  font-family: "Grand Hotel", cursive, bold;
  font-size: 4em;
  margin-top: 12px;
  position: relative;
  text-align: center;
}

.bottom-nav {
  background-color: tomato;
}

.bottom-nav-icons > svg {
  stroke-width: 1;
  color: white;
  font-size: 50px;
}

.bottom-nav-icons > svg:hover {
  fill: white;
  stroke: tomato;
}

.bottom-nav-icons > svg:active {
  fill: white;
  stroke: tomato;
}

.bottom-nav-icons > svg:visited {
  fill: white;
  stroke: tomato;
}

/* .form-group {
  margin-bottom: 1px;
} */

.log {
  background-color: snow;
}

.signup-nav {
  background-color: snow;
  border-top: 1px solid lightgray;
}

.sign-up-btn {
  color: black;
  font-weight: bold;
}

.log-btn {
  width: 100%;
  padding: 2px 101px 2px 101px;
  background-color: tomato;
  border: none;
  transition: 400ms;
}

.input-field {
  margin-left: 5px;
  margin-right: 5px;
}

.signup-page {
  margin-right: 10px;
  margin-left: 10px;
}

.boxes {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  /* position: relative; */
  /* left: -7%; */
}

/* copied from medium repo */

.divdiv {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.login-container {
}

.divdiv {
  margin-top: 50px;
}

.Countdown {
  display: flex;
  flex-direction: column;
  border-color: tomato;
}

.Countdown-time {
  font-size: 50px;
  color: tomato;
  border-style: solid;
  border-color: coral;
  border-width: 4px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Countdown-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Button-start {
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 20px;
  margin-right: 100px;
}

.btn-reset {
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 20px;
}

.custom-control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.custom-switch {
  padding-left: 0px;
}

.login-container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.swipe-to-delete svg {
  height: 30px;
}

.task-page {
  display: flex; 
  flex-direction: column;
  
}

.add-task {
  background-color: tomato;
  display: block;
   width: 100%;
   /* height: calc(1.5em + 0.75rem + 2px); */
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   font-weight: 400;
   /* line-height: 1.5; */
   color: #495057;
  
   /* background-clip: padding-box; */
   /* border: 1px solid #ced4da; */
   /* border-radius: 0.25rem; */
   /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
  
}

.star {
  width: 375px;
  margin: 0px;
  border-top: 1px solid lightgray;
  color: lightgray;

}

.star > svg {
  stroke: white;
  color: lightgray;
}

.moon {
  /* color: darkgray;
  background-color: snow;
  border: 1px solid lightgray;
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  height: calc(1.5em + 0.75rem + 2px);
   */
   display: block;
   width: 100%;
   height: calc(1.5em + 0.75rem + 2px);
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   background-color: snow;
}

.sky {
  margin-bottom: 25px;
}

.earth {
  display: flex; 
  justify-content: space-around;
}

.swipeable-list {

  display: block;
  width: 100%;
  background-color: pink;
}

.swipeable-list-item {
  display: block;
  width: 100%;
}

.swipeable-list > div {

  display: block;
  width: 100%;
  background-color: red;
}

.swipeable-list-item >div {
  display: block;
  width: 100%;
}

.cool-thing-yo {
  display: block;
  width: 100%;
  background-color: yellow;
}

.coolest-page {
  display: block;
  width: 100%;
}