@import "~react-component-countdown-timer/lib/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

body {
  background-color: tomato;
}

.App {
  background-color: tomato;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p {
  text-align: center;
  color: white;
  font-size: 2.5vh;
  margin-top: 0;
  margin-bottom: 2vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  font-family: "Grand Hotel", cursive, bold;
  font-weight: lighter;
  margin-top: 5vh;
  margin-bottom: 1vh;
  position: relative;
  text-align: center;
  color: white;
  font-size: 8.5vh;
}

.bottom-nav {
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 0px;
  height: 7vh;
  padding-bottom: 4.5vh;
  padding-top: 4vh;
}

.bottom-nav-icons {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.bottom-nav-icons > svg {
  stroke-width: 1;
  color: gray;
}

.bottom-nav-icons > svg:hover {
  fill: white;
  stroke: tomato;
}

.bottom-nav-icons > svg:active {
  fill: white;
  stroke: tomato;
}

.bottom-nav-icons > svg:visited {
  fill: white;
  stroke: tomato;
}

.bottom-nav-icon-links {
  text-decoration: none;
  color: white;
}

.navbar-brand a {
  text-decoration: none;
}

.form-group {
  display: flex;
  justify-content: center;
}

.signup-nav {
  background-color: snow;
  border-top: 1px solid lightgray;
  height: 4vh;
  font-size: 2vh;
}

.sign-up-btn {
  color: black;
  font-weight: bold;
}

.input-field {
  margin-left: 5px;
  margin-right: 5px;
  border: 0;
}

.signup-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.signup-input-field {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.boxes {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  height: 30vh;
  display: flex;
  justify-content: center;
  /* position: relative; */
  /* left: -7%; */
}

/* copied from medium repo */

.divdiv {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-color: tomato;
}

.login-container {
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
}

.onetwo {
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
  max-width: 100%;
}

.onetwothree {
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
}
.Countdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  display: block;

  /* border-color: tomato; */
}

.Countdown-time {
  font-size: 13vh;
  font-weight: lighter;
  color: white;
  /* height: 60%; */

  /* border-style: solid;
  border-color: coral;
  border-width: 4px;
  border-radius: 50%; */
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 145;
}

.Countdown-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: tomato;
  /* height: 900px; */
  border: white;
}

.Button-start {
  color: tomato;
  background-color: white;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin-right: 145;
  outline: none;
  font-size: 2vw;
  border: 1px solid white;
}

.Button-start:active {
  background-color: rgb(179, 72, 53);
}

.Button-start:focus {
  outline: 0;
}

.star > .input-field {
  background-color: rgba(255, 99, 71, 0.11);
  border: 0;
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  height: 60px;
}

.btn-reset {
  color: tomato;
  background-color: white;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  font-size: 3.5vh;
  border: 1px solid white;
}

.btn-reset:focus {
  outline: 0;
}

.btn-reset:active {
  background-color: rgb(179, 72, 53);
}

.custom-control {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  /* height: 100vh;
  width: 100vw; */
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
  width: 100%;
  height: 100%;
}

.custom-switch {
  padding-left: 0px;
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  /* margin-top: 32px; */
}

.swipe-to-delete svg {
  height: 30px;
}

.task-page {
  display: flex;
  flex-direction: column;
}

.add-task {
  /* height: calc(1.5em + 0.75rem + 2px); */

  font-size: 5vh;
  font-weight: 400;
  background-color: white;
  border-left: 1px solid lightgray;
  border-right: 0;
  display: flex;
  align-items: center;
  height: 7vh;
  width: 9vw;
  display: flex; 
  justify-content: center;
  align-items: center;

  /* line-height: 1.5; */

  /* background-clip: padding-box; */
  /* border: 1px solid #ced4da; */
  /* border-radius: 0.25rem; */
  /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.top-bar {
  display: flex;
  width: 100%;
  height: 7vh;
  background-color: white;
  margin-top: 1vh;
}

.star {
  margin: 0px;
  color: white;
  background-color: white;
  width: 100%;
  border-left: none !important;
  border: none !important;
  box-shadow: none;
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  width: 100%;
  height: 7vh;
  outline: none;
}

.star:focus {
  outline: none;
}

.input.star:focus {
  outline: none;
}

.form-group {
  border: none !important;
  box-shadow: none;
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  background-color: tomato;
}

.form-group:focus {
  outline: none;
}

.form-control:focus {
  outline: none;
}

.moon {
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-radius: 0;
  height: 7vh;
  font-size: 2.8vh;
  outline: none;
  
  color: white;
}

.moon:focus {
  outline: 0;
}

/* .moon {

  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

} */

.earth {
  display: flex;
  justify-content: space-around;
}

.swipeable-list-item > div {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0;
  
}

.cool-thing-yo {
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-size: 45px;
  color: rgb(63, 63, 63);
  color: white;
  margin-left: 15px;
}

.delete-item-left {
  background-color: red;
  margin-right: 35px;
}

.delete-item-right {
  background-color: blue;
  margin-left: 35px;
}

.cool-list {
  /* overflow: auto; */
}

.cool-list-item {
  display: flex;
  align-items: center;
  
}

.swipeable-list {
  border: 1px solid lightgray;
  height: 8vh;
  height: auto !important;
  /* remove height 100% from this class  */
}

.swipeable-list-item {
  height: 8vh;
}

.swipeable-list-item__content {
  height: 8vh;
  font-size: large;
  background-color: rgb(179, 72, 53) !important;


}
 

.swipeable-list-item__content--return {
  height: 8vh;
}

.swipeable-list-item__content-left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 8vh;
}

.swipeable-list-item__content-right {
  background-color: blue;
  height: 8vh;
}

/* Sets the containers height and width */
.base-timer {
  position: relative;
  height: 300px;
  width: 300px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;

  /* Size should match the parent container */
  width: 300px;
  height: 300px;

  /* Keep the label aligned to the top */
  top: 0;

  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 48px;
}

.countdown-path {
  color: tomato;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

.input-field {
  border-left: none;
  border: 0;
  box-shadow: none;
  
}

.container {
  max-width: none;
  /* height: 100%; */
}

.row {
  height: 100%;
}

.list-background {
  background-color: tomato;
  margin: 0;
}

#root {
  height: 100%;
}

.login {
  display: flex;
  justify-content: center;
}

.log {
  height: 4vh;
  width: 75vw;
  display: flex;
  justify-content: center;
  font-size: 1.5vh;
}

.log-btn {
  width: 100%;
  padding: 2px 101px 2px 101px;
  background-color: #0069d9;
  border: none;
  transition: 400ms;
  height: 6vh;
  width: 90vw;
  margin: auto;
  margin-top: 1vh;
  font-size: 2.2vh;
}

.back-to-login {
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
